{% extends 'hod_template/base_template.html' %}

{% block main_content %}

{% load static %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                
                <div class="card card-primary">
                
  
            <form role="form" method="POST" >
                {% csrf_token %}
                <div class="card-body">
                    <div class="form" >
                        <label>Enter PRN No:</label>
                        <input type="text" class="form-control" name="prn" placeholder="Enter PRN" id="id_prn">
                    </div>
                </div>
                    
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>

            </div>

        </div>
                    

    </div>
</div>

</div>
</section>


  {% endblock main_content %}

  